@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center jumbotron">
    <h1 class="display-4">Welcome</h1>
    <h3 class="lead">Record and maintain your scripture notes here!</h3>
    <img src="~/scriptures.jpg" class="img-fluid h-25 w-25" alt="Scriptures">
</div>
