@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">LDS Films</h1>
    <p>Learn about <a href="https://www.churchofjesuschrist.org/?lang=eng">The Church of Jesus Christ of Latter-Day Saints</a>.</p>
</div>
