@{
    ViewData["Title"] = "Home";
}

<div class="text-center jumbotron">
    <h1 class="display-4">Mega Desk</h1>
    <h3 class="lead">View and Maintain Desk Quotes</h3>
    <img src="~/desk.jpg" class="img-fluid h-50 w-50" alt="Office Desk">
</div>
